body{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./asset/img/zuerichHB.webp") center/cover no-repeat;
  color: white;
}

h3:hover{
  color:yellow;
}

.menu-item{
  height:38vh;
  margin:1vh;
  width:38vh;
}

.p-menu{
  padding:0vh 2vh;
}
